<ion-content color="custom-red" padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div color-light padding text-center>
                    <img src="../../../assets/logo.png"/>
                </div>
                <div padding>
                    <form novalidate [formGroup]="myForm" (ngSubmit)="login()">
                        <ion-input type="email" formControlName="email" expand="block" placeholder="Email" required></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let ctrl of validations.email | keyvalue">
                                <div class="error-message" *ngIf="f.email.hasError(ctrl.key) && (f.email.dirty || f.email.touched)">
                                    {{ctrl.value}}
                                </div>
                            </ng-container>
                        </div>

                        <ion-input type="password" formControlName="password" expand="block" placeholder="Contraseña" required></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let ctrl of validations.password | keyvalue">
                                <div class="error-message" *ngIf="f.password.hasError(ctrl.key) && (f.password.dirty || f.password.touched)">
                                    {{ctrl.value}}
                                </div>
                            </ng-container>
                        </div>
                        <div padding text-center>
                            <ion-button type="submit" color="light" fill="outline" size="small" shape="round" [disabled]="!myForm.valid">
                                <ion-icon slot="icon-only" name="log-in"></ion-icon>
                            </ion-button>
                            <!--<a class="btn btn-link" routerLink="/register" routerDirection="forward">Registración</a>-->
                        </div>
                        <div padding text-center>
                            <!--<ion-button color="light" fill="outline" size="small" shape="round" routerLink="/register" routerDirection="forward">
                                Registración
                            </ion-button>-->
                            <!--<a class="btn btn-link" routerLink="/register" routerDirection="forward">Registración</a>-->
                            Si usted no tiene una cuenta, por favor <a class="btn btn-link" routerLink="/register" routerDirection="forward">regístrese</a>.
                        </div>
                    </form>
                </div>
            </ion-col>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" *ngIf="info">
                <div padding text-center>
                    {{info}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>