<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img [src]="logoEmpresa"/>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openMyCart()">
                <ion-badge *ngIf="myCart.length > 0">{{ myCart.length }}</ion-badge>
                <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar type="search" animated (ionChange)="onSearchChange($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content no-padding drag-content="false">
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of misDatos">
            <ion-card>
                <!--<ion-card-header>
                    <ion-card-title text-wrap>
                        {{ item.nombre }}
                    </ion-card-title>
                </ion-card-header>-->
                <ion-card-content>
                    <img [src]="getFoto(item.id)" [alt]="'Foto producto ' + item.id">
                    <ion-label>
                        <span titulo text-center text-wrap>{{ item.nombre }}</span>
                        <p text-left text-wrap [innerHTML]="item.descripcion"></p>
                        <span presentacion>{{item.presentacion}}</span>
                        <span precio>{{ item.precio | currency }}</span>
                    </ion-label>
                    <ion-item lines="none" no-padding>
                        <ion-button slot="start" color="dark" fill="outline" size="small" shape="round" (click)="delItemFromMyCart(item.id)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                        <ion-button slot="end" color="dark" fill="outline" size="small" shape="round" (click)="addItemToMyCart(item)">
                            <ion-icon slot="icon-only" name="cart"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
