<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img [src]="logoEmpresa"/>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openMyCart()">
                <ion-badge *ngIf="myCart.length > 0">{{ myCart.length }}</ion-badge>
                <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar type="search" animated (ionChange)="onSearchChange($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content color="custom-red" no-padding>
    <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let item of datos">
            <ion-card>
                <!--<ion-card-header>
                    <ion-card-title text-wrap>
                        {{ item.nombre }}
                    </ion-card-title>
                </ion-card-header>-->
                <ion-card-content>
                    <img [src]="getFoto(item.id)" [alt]="'Foto producto ' + item.id">
                    <ion-label>
                        {{ item.nombre }}
                        <br/>{{ item.descripcion }}
                        <span float-left presentacion>{{item.presentacion}}</span>
                        <span float-right precio>{{ item.precio | currency }}</span>
                    </ion-label>
                    <!--<p>
                        {{ item.nombre }}
                        <br/>{{ item.procedencia }}
                        <br/>{{ item.descripcion }}
                    </p>
                    <span float-left presentacion>{{item.presentacion}}</span>
                    <span float-right precio>{{ item.precio | currency }}</span>-->
                </ion-card-content>
                <div>
                    <ion-button color="light" fill="outline" size="small" shape="round" (click)="addItemToMyCart(item)">
                        <ion-icon slot="icon-only" name="cart"></ion-icon>
                    </ion-button>
                    <ion-button color="light" fill="outline" size="small" shape="round" (click)="delItemFromMyCart(item.id)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
